# Developer tools' files
.lite_workspace.lua

# Build artifacts
/bin
/dist
/dist-tauri
.storage
*.log
.tmp/
tmp/


.DS_Store
*.tsbuildinfo
*.js
*.d.ts
*.map

node_modules/
data/
bun.lockb
.env
.env.local
.env.*.local
