# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
/dist-tauri

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
.tmp/
tmp/


.DS_Store
*.tsbuildinfo
*.js
*.d.ts
*.map

node_modules/
data/
bun.lockb
.env
.env.local
.env.*.local
